body {
    background-image: url("https://www.pucsp.br/sites/default/files/slideshow/carrossel-vestibular-verao_3_0.jpg");
    background-color: #cccccc;
   }

.txt-ctr{
    display: inline-block;
    font-style: italic;
}

.center-ctr{
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
}

.flex-50{
    flex: 0 0 50%;
} 

.alinha-botao{
    display: grid;
    margin:0 auto;
    justify-content: center;
}